td {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    text-align: center;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button, input {
    width: 470px;
    box-sizing: border-box;
    
}

button {
    height: 50px;
}

#smallbutton {
    width: 235px;
    box-sizing: border-box;
}